
<style>

    div.container{
        display:block;
        margin:20px 18%;
        padding:5px 10px 10px 30px;
        border:1px solid black;
        border-radius:15px;
        background-color:rgba(220, 220, 220, 0.918);
        z-index:-1;
    }
    div.container-create-task{
        display:block;
        margin:20px 40%;
        border:1px solid black;
        border-radius:8px;
        background-color:rgba(220, 220, 220, 0.918);
        z-index:-1;
        text-align: center;
        text-decoration: none;
    }
    a{
        text-decoration:none;
        color:blue;
    }
    a:hover{
        color:blueviolet;
    }
</style>

<div class="container">
    <div class="row">
        <h3>Python-RegularExpressions &nbsp;(<small><em>8:30 p.m.</em></small>)</h3>
        <summary>
            <p>hello this python regular expression.Learn maths from python in alphabet</p>
        </summary>
    </div>
</div>
<div class="container-create-task">
    <a href="">Create New Task</a>
</div>
