{% extends 'base.html' %}
{% block title %}Task{% endblock %}
{% block link %}
<style>
  h1{ 
    color:#DEF2F1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding :5px 20px;
    margin:2px 20px;
    text-align:center;
  }

  p.b{
    visibility: hidden;
  }

  .year{
    width:70px;
    height:20px;
    margin:15px 5px 0px 10px;
    border:2px solid #2B7A7B;
    border-radius:5px;
  }

  .month{
    width:100px;
    height:20px;
    border:2px solid #2B7A7B;
    border-radius:5px;
  }

  ul.date-list{
    background-color: #3AAFA9;
    text-align: center;
    padding:2px 5px;
  }

  li.date-items{
    font-size: 14px;
    padding:8px;
  }

  li.date-items:hover{
    color:#2B7A7B;
    font-weight:bolder;
    font-size: 18px;
  }
  
  p.contact{
    text-align: center;
  }
</style>
{% endblock %}
{% block header %}
  <h1>StackdProgress</h1>
  {% include 'nav-bar.html' %}
{% endblock %}
{% block main %}
<form method="POST" autocomplete="off">
  {% csrf_token %}
  {{ forms.year }}{{ forms.month }}
  <ul class="date-list">
    {% for day in days %}
    <li class="date-items"><a href="{{ day }}" id="{{ day }}">{{ day }}</a></li>
    {% endfor %}
  </ul>
</form>
<section>
</section>
{% endblock %}
{% block footer %}
<p class="contact">This Project is developed and controlled by Cosquntime Group of Company</p>
{% endblock %}
