{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block style %}
<style>
    .errorlist{
        color:red;
        list-style-type: none;
    }
    .fieldtexture{ 
        padding: 10px;
    }
</style>
{% endblock %}
{% block header %}
<h1>Register</h1>
{% endblock %}
<p class="errorlist">{{ messages.account }}</p>
{% block content %}
<div>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ messages.account }}
        <div class="fieldtexture">
            <label for="userid">User ID</label>
            {{ forms.userid }}
            {{forms.errors.userid}}
        </div>
        <div class="fieldtexture">
            <label for="firstname">First Name</label>
            {{ forms.firstname }}
        </div>
        <div class="fieldtexture">
            <label for="lastname">Last Name</label>
            {{ forms.lastname }}
        </div>
        <div class="fieldtexture">
            <label for="password">Password</label>
            {{ forms.password }}
            {{ forms.errors.password }}
        </div>
        <div class="fieldtexture">
            <label for="repassword">Confirm Password</label>
            {{ forms.repassword }}
        </div>
        {{ forms.errors.repassword }}
        <input type="submit" value="Submit">
    </form>
    <p>If you have an account,Login from <a href="{% url 'login' %}">here</a>.</p>
</div>
{% endblock %}